@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.forgotPass-Wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}
.forgotPass-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.tourist-logo {
  margin: 36px 0 156px 0;
}
.forgotPass-form {
  display: flex;
  flex-direction: column;
}
.forgotPass-form_container {
  max-width: 512px;
  width: 100%;
  justify-content: center;
}
.forgotPass-form_container p {
  color: #5e6f7d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.forgotPass-form_container h1 {
  color: #141d24;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 36px;
}
.form-in_label {
  color: #141d24;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 16px 0 8px 0;
}
.forgotPass-form input {
  padding: 13px 16px;
  margin-top: 16px;
  border-radius: 10px;
  border: 1px solid #e3e7eb;
  background: #fff;
}
.forgotPass-btn {
  padding: 12px 24px;
  margin: 24px 0 36px 0;
  border: 1px solid #e3e7eb;
  border-radius: 24px;
  background: #4a21ef;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.fortgotPass-left {
  max-width: 708px;
  width: 100%;
}
@media only screen and (max-width: 1335px) {
  .forgotPass-Wrapper {
    display: block;
  }
  .fortgotPass-left {
    display: none;
  }
  .forgotPass-right {
    justify-content: center;
    width: 100%;
  }
}
