@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.experts-wrapper {
  text-align: center;
  margin: 0 72px 120px;
}
.experts-wrapper h1 {
  color: #141d24;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 40px;
}
.experts-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-box {
  margin-bottom: 55px;
  margin-right: -65px;
  position: relative;
}
.right-box {
  position: relative;
}
.message-text__left {
  position: absolute;
  top: 52px;
  left: -115px;
  width: 218px;
  padding: 20px 40px 22px 16px;
  background-image: url(../../assets/icons/messageIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: #141d24;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.message-text__right {
  position: absolute;
  bottom: 32px;
  right: -100px;
  width: 218px;
  padding: 20px 40px 22px 32px;
  background-image: url(../../assets/icons/rightBoxMessageIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: #141d24;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* responsive start */
.experts-responsive__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experts-responsive__container {
  display: none;
}
.top-responsive__box {
  margin-bottom: -155px;
  margin-right: 2px;
  position: relative;
}
.bottom-responsive__box {
  position: relative;
}
.message-text__top {
  position: absolute;
  top: 52px;
  left: -9px;
  width: 218px;
  padding: 20px 40px 22px 16px;
  background-image: url(../../assets/icons/messageIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: #141d24;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.message-text__bottom {
  position: absolute;
  bottom: 32px;
  right: 16px;
  width: 218px;
  padding: 20px 40px 22px 32px;
  background-image: url(../../assets/icons/rightBoxMessageIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: #141d24;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
@media only screen and (max-width: 1280px) {
  .experts-container {
    display: none;
  }
  .expert-img {
    width: 900px;
  }
  .experts-responsive__container {
    display: block;
  }
}
@media only screen and (max-width: 980px) {
  .expert-img {
    width: 700px;
  }
  .top-responsive__box {
    margin-bottom: -130px;
  }
}
@media only screen and (max-width: 830px) {
  .experts-wrapper {
    margin: 0 15px 120px;
  }
  .expert-img {
    width: 500px;
  }
  .top-responsive__box {
    margin-bottom: -90px;
  }
}

@media only screen and (max-width: 660px) {
  .expert-img {
    width: 350px;
  }
  .top-responsive__box {
    margin-bottom: -70px;
  }

  element.style {
  }
  .message-text__top {
    top: 112px;
    left: -9px;
    padding: 10px 20px 22px 16px;
  }

  .message-text__bottom {
    bottom: 10px;
    /* left: 10px; */
  }
}
@media only screen and (max-width: 460px) {
  .message-text__bottom {
    bottom: 10px;
    left: 10px;
  }
}
